* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  
  #container-1 {
    padding: 3% 5%;
  }
  .navigation {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  .nav-list {
    float: right;
  }
  .nav-items {
    padding: 0 20px;
    display: inline-block;
  }
  .title {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 50px 0;
  }
  .illustration-1 {
    width: 50%;
    height: 400px;
    margin: auto;
  }
  .title-heading {
    padding: 0 0px 0 0;
    width: 100%;
    margin: auto;
  }
  .head {
    font-size: 35px;
    color: hsl(243, 87%, 12%);
    width: 75%;
  }
  .head-des {
    color: hsl(243, 87%, 12%);
  }
  .btn-email {
    height: 40px;
    width: 300px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 20px;
  }
  .btn-getstarted,
  .btn-getstarted2 {
    height: 42px;
    width: 200px;
    border: 1px solid;
    color: #fff;
    background-color: hsl(224, 93%, 58%);
    border-radius: 3px;
    margin: 7px 0;
    border-style: none;
  }
  .btn-getstarted:hover {
    background-color: hsl(224, 89%, 71%);
  }
  .btn-getstarted2:hover {
    background-color: hsl(224, 89%, 71%);
  }
  .btn-email:hover {
    border-color: red;
  }
  
  #container-2 {
    background-image: url(../images/bg-curve-desktop.svg);
    padding: 3% 5%;
    color: hsl(243, 87%, 12%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .illustration-2 {
    width: 40%;
    height: 400px;
    margin: auto;
  }
  .contents {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 50px 0;
  }
  .content-des {
    width: 50%;
  }
  .head-2 {
    font-size: 35px;
    width: 100%;
  }
  .head2-des {
    width: 90%;
  }
  .fylo-link {
    color: hsl(170, 45%, 43%);
    border-bottom: 1px solid hsl(170, 45%, 43%);
    text-decoration: none;
  }
  .founder {
    width: 52%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 8px grey;
    margin: 50px 0;
  }
  .avatar-testimonial {
    display: flex;
  }
  .avatar-icon {
    border-radius: 100%;
    width: 15%;
    height: 15%;
    margin: 10px 0;
  }
  .author {
    margin: auto 5px;
  }
  #container-3 {
    padding: 5% 5%;
    background-color: hsl(238, 22%, 44%);
    color: #fff;
    display: flex;
  }
  .part-1 {
    width: 40%;
  }
  .part-2 {
    width: 50%;
    margin: auto 0 auto 150px;
  }
  .part-2 .btn-email {
    width: 80%;
    padding-left: 20px;
  }
  #container-4 {
    background-color: hsl(243, 87%, 12%);
    color: #fff;
    padding: 7% 5%;
  }
  #container-4 a {
    color: white;
    text-decoration: none;
  }
  .logo-bottom {
    filter: brightness(0) invert(1);
    margin-bottom: 10px;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    color: #000;
  }
  .social i:hover {
    color: hsl(224, 93%, 58%);
  }
  
  @media (max-width: 850px) {
    .logo {
      width: 25%;
    }
    .nav-items {
      margin: 0;
      padding: 0 10px;
    }
    .title {
      width: 100%;
      display: block;
    }
    .illustration-1,
    .illustration-2 {
      padding: 30px 0;
      height: auto;
      width: 100%;
    }
    .title-heading {
      text-align: center;
    }
    .btn-email {
      width: 95%;
    }
    .btn-getstarted {
      width: 95%;
    }
    #container-2 {
      background-image: url(../images/bg-curve-mobile.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .contents {
      width: 100%;
      display: block;
    }
    .content-des,
    .head2-des {
      text-align: center;
      width: 100%;
      margin: auto;
    }
    .founder {
      text-align: left;
      margin: 50px auto 70px;
      width: 80%;
    }
    #container-3 {
      display: block;
      margin: auto;
      text-align: center;
      padding: 50px 5px;
    }
    .part-1,
    .part-2 {
      width: 100%;
      margin: auto;
    }
    .btn-getstarted2 {
      width: 83%;
    }
    #container-4 {
      padding: 50px 20px;
    }
    .bottom {
      display: block;
    }
    .call-1,
    .call-2,
    .call-3,
    .call-4 {
      margin: 60px 0;
    }
    .social {
      text-align: center;
    }
    .social i {
      border: 1 px solid white;
    }
    .head {
      font-size: 35px;
      width: 100%;
    }
  }